# ---- Backend ----
__pycache__/
*.pyc
venv/
backend/.env
backend/sql_runner.db

# ---- Frontend ----
frontend/node_modules/
frontend/dist/
frontend/.env

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# ---- OS / IDE ----
.DS_Store
Thumbs.db
.vscode/
.idea/
